/so_long
/build/
/test.ber/
old_shit/
/raw/unconverted/0.xpm
/log.txt
/raw/unconverted/tile000.png
/raw/unconverted/tile001.png
/raw/unconverted/tile010.png
/raw/unconverted/tile011.png
/raw/unconverted/tile012.png
/raw/unconverted/tile013.png
